<div class="md-inline-form">
    <div layout="column" layout-gt-xs="row" flex>
        <md-autocomplete flex
                         md-no-cache="false"
                         md-autoselect="true"
                         md-selected-item="vm.oriPlace"
                         md-search-text-change="vm.searchTextChange(vm.oriSearchText)"
                         md-search-text="vm.oriSearchText"
                         md-selected-item-change="vm.selectedOriPlaceChange(item)"
                         md-items="item in vm.querySearch(vm.oriSearchText)"
                         md-item-text="item.display"
                         md-min-length="0"
                         md-floating-label="Điểm đi">
            <md-item-template>
                <span md-highlight-text="vm.oriSearchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>ÉC! Không tìm thấy địa điểm.
            </md-not-found>
        </md-autocomplete>

        <md-autocomplete flex
                         md-no-cache="false"
                         md-autoselect="true"
                         md-selected-item="vm.desPlace"
                         md-search-text-change="vm.searchTextChange(vm.desSearchText)"
                         md-search-text="vm.desSearchText"
                         md-selected-item-change="vm.selectedDesPlaceChange(item)"
                         md-items="item in vm.querySearch(vm.desSearchText)"
                         md-item-text="item.display"
                         md-min-length="0"
                         md-floating-label="Điểm đến">
            <md-item-template>
                <span md-highlight-text="vm.desSearchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>Éc ! Không tìm thấy địa điểm như bạn mong muốn. Vui lòng kiểm tra lại.
            </md-not-found>
        </md-autocomplete>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <md-switch ng-model="vm.roundTrip" aria-label="Khứ hồi">
          Khứ hồi
        </md-switch>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container class="md-block" flex>
        <label>Ngày đi</label>
        <input type="text" pick-a-date="vm.departDate" min-date="vm.today" class="d-pickadate">
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>Ngày về</label>
        <input type="text" pick-a-date="vm.returnDate" min-date="vm.departDate" ng-disabled="!vm.isRoundtrip(vm.roundTrip)" class="d-pickadate">
      </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container class="md-block" flex>
          <label>Người lớn (&gt;11)</label>
          <md-select name="adultNum" ng-model="vm.adultNum">
            <md-option value="1" ng-selected="true">1</md-option>
            <md-option value="2">2</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Trẻ em (2-11)</label>
          <md-select name="childNum" ng-model="vm.childNum">
            <md-option value="0" ng-selected="true">0</md-option>
            <md-option value="1">1</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Em bé (&lt;2)</label>
          <md-select name="infantNum" ng-model="vm.infantNum">
            <md-option value="0" ng-selected="true">0</md-option>
            <md-option value="1">1</md-option>
          </md-select>
        </md-input-container>
    </div>
</div>
