md-autocomplete[md-floating-label] {
  height: 60px;
}
md-autocomplete[md-floating-label] md-input-container {
  padding-bottom: 0;
  margin-bottom : 0;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  margin-top: 17px;
}

.md-toolbar-tools {
  font-size: .8em;
}

@media (max-width: 679px){
  // Remove padding for page-layout
  .page-layout.simple.fullwidth > .content {
    padding: 0;
  }
}
